# Google reCAPTCHA v3 Site Key
# Obtén tu Site Key en: https://www.google.com/recaptcha/admin
# Esta variable es pública y será visible en el cliente (navegador)
PUBLIC_RECAPTCHA_SITE_KEY=your_site_key_here
