---
import CardsCiclos from "../components/CardsCiclos.jsx";
---

<section class="flex flex-col items-center justify-center py-32" id="ciclos">
    <h2
        class="text-4xl text-center lg:text-[60px] tracking-widest font-medium text-primary-default font-sathu"
    >
        CICLOS DE DEGUSTACIÓN
    </h2>
    <CardsCiclos client:load />
</section>
