---
import CardsCiclos from "../components/CardsCiclos.jsx";
---

<section class="flex flex-col items-center justify-center py-20 sm:py-32" id="ciclos">
    <h2
        class="text-3xl text-center px-4 md:px-0 lg:text-[48px] tracking-widest font-bold -mb-16 text-primary-default"
    >
        CICLOS DE DEGUSTACIÓN
    </h2>
    <CardsCiclos client:load />
</section>
