---
import logo from "../assets/images/logo-footer.png";
---

<footer class="bg-primary-default text-[#d1bda8] py-16">
    <div class="container mx-auto flex flex-col items-center">
        <!-- Logo -->
        <div class="mb-6">
            <img
                src={logo.src}
                alt="Lía de Bárbara - La Sommelière"
                class="h-[140px]"
            />
        </div>

        <!-- Menú de navegación -->
        <nav class="flex flex-col md:flex-row md:space-x-6 items-center mb-6">
            <a
                href="#quiensoy"
                class="text-sm md:text-lg uppercase tracking-wide hover:text-white transition-colors mb-2 md:mb-0"
                >Quien Soy</a
            >
            <a
                href="#quehago"
                class="text-sm md:text-lg uppercase tracking-wide hover:text-white transition-colors mb-2 md:mb-0"
                >Qué Hago</a
            >
            <a
                href="#ciclos"
                class="text-sm md:text-lg uppercase tracking-wide hover:text-white transition-colors mb-2 md:mb-0"
                >Ciclos</a
            >
            <a
                href="#sensaciones"
                class="text-sm md:text-lg uppercase tracking-wide hover:text-white transition-colors mb-2 md:mb-0"
                >Sensaciones</a
            >
            <a
                href="#contacto"
                class="text-sm md:text-lg uppercase tracking-wide hover:text-white transition-colors mb-2 md:mb-0"
                >Contacto</a
            >
        </nav>

        <!-- Ícono de contacto -->
        <div class="flex items-center">
            <a
                href="mailto:ml.debarbara@gmail.com"
                class="hover:text-white transition-colors"
            >
                <svg
                    class="e-font-icon-svg e-fas-envelope h-10 text-secondary-texto fill-current"
                    viewBox="0 0 512 512"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"
                    ></path>
                </svg>
            </a>
        </div>
    </div>
</footer>
