---
const handleSubmit = (event) => {
  event.preventDefault();
  const formData = new FormData(event.target);
  const formObject = Object.fromEntries(formData.entries());
  console.log("Formulario enviado:", formObject);
  alert("Formulario enviado con éxito");
};
---

<section class="flex flex-col items-center py-16" id="contacto">
  <h2
    class="text-4xl font-medium text-center tracking-widest uppercase mb-8 text-primary-default"
  >
    Contacto
  </h2>
  <p
    class="text-[18px] md:text-[24px] font-textos text-center mb-12 mx-10 md:mx-20 lg:mx-[400px] 2xl:mx-[500px] text-primary-default"
  >
    Ya seas profesional o aficionado, aquí encontrarás información,
    asesoramiento y selecciones especiales que despertarán tus sentidos y harán
    inolvidable cada experiencia.
  </p>
  <form
    class="w-full max-w-4xl px-8 space-y-6 text-lg"
    action="https://getform.io/f/bkkkzxjb"
    method="POST"
  >
    <!-- Fila de Nombre y Email -->
    <div class="flex flex-col md:flex-row md:space-x-4 space-y-6 md:space-y-0">
      <div class="flex-1">
        <input
          placeholder="Nombre"
          id="name"
          name="name"
          type="text"
          class="w-full border-b-2 border-secondary-texto uppercase text-secondary-texto placeholder:text-secondary-texto focus:outline-none focus:border-gray-700 transition-colors p-2"
          required
        />
      </div>
      <div class="flex-1">
        <input
          placeholder="E-mail"
          id="email"
          name="email"
          type="email"
          class="w-full border-b-2 border-secondary-texto uppercase text-secondary-texto placeholder:text-secondary-texto focus:outline-none focus:border-gray-700 transition-colors p-2"
          required
        />
      </div>
    </div>

    <!-- Número de Contacto -->
    <div>
      <input
        placeholder="Número de Contacto"
        id="phone"
        name="phone"
        type="tel"
        class="w-full border-b-2 border-secondary-texto uppercase text-secondary-texto placeholder:text-secondary-texto focus:outline-none focus:border-gray-700 transition-colors p-2"
        required
      />
    </div>

    <!-- Mensaje -->
    <div>
      <textarea
        placeholder="Mensaje"
        id="message"
        name="message"
        rows="1"
        class="w-full border-b-2 border-secondary-texto uppercase text-secondary-texto placeholder:text-secondary-texto focus:outline-none focus:border-gray-700 transition-colors p-2"
        required></textarea>
    </div>

    <!-- Botón Enviar -->
    <div class="flex justify-center text-primary-default">
      <button
        type="submit"
        class="px-6 py-2 text-base font-semibold uppercase border-b-2 border-primary-default  transition-colors"
      >
        Enviar
      </button>
    </div>
  </form>
</section>

<style>
  /* Para ajustar el botón de envío como en la imagen */
  button {
    text-underline-offset: 4px;
  }
</style>
