---
import luna from '../assets/images/luna.svg';
import Slider from './Slider.jsx';
---
<section class="flex flex-col items-center gap-4 pb-32 pt-10 px-4 lg:px-16" id="quehago">
    <img src={luna.src} class="h-[63px] flex w-full justify-center mb-14" alt="Luna" />
    <h2 class="text-3xl text-center lg:text-[44px] tracking-widest font-bold text-primary-default block md:hidden ">UNIVERSO <br> LÍA DE BÁRBARA</h2>
    <h2 class="text-3xl text-center lg:text-[44px] tracking-widest font-bold text-primary-default hidden md:block ">UNIVERSO LÍA DE BÁRBARA</h2>
    <p class="text-[16px] md:text-[26px] text-center text-primary-default leading-[1.25] font-textos mb-0 block sm:hidden px-8">
        Mi corazón se acelera dentro del mundo sensorial, creativo, lúdico y, por supuesto, de los vinos. <br> ¿Sos de los míos? En ese caso, vamos bien.
    </p>
    <p class="text-[16px] md:text-[26px] text-center text-primary-default leading-[1.25] font-textos mb-12 hidden sm:block">
        Mi corazón se acelera dentro del mundo sensorial, creativo, <br> lúdico y, por supuesto, de los vinos. ¿Sos de los míos? <br> En ese caso, vamos bien.
    </p>
    <Slider client:load/>
</section>