---
import profileImage from "../assets/images/HOLASOYLIA.webp";
import reina from "../assets/images/reina.svg";
---

<section class="py-16 md:py-24 px-4 lg:pb-[300px] lg:px-16 relative" id="quiensoy">
    <div
        class="max-w-[85rem] mx-auto flex flex-col xl:flex-row items-center gap-12"
    >
        <!-- Texto -->
        <div class="xl:w-1/2 lg:mt-6 xl:mt-40 text-center xl:text-center items-center justify-center max-w-[380px]">
            <div class="relative">
                <img
                    src={reina.src}
                    class=" h-[150px] sm:h-[180px] md:h-[200px] xl:h-[164px] absolute top-[-50px] md:top-[-70px] md:left-28 lg:left-60 lg:-top-24 xl:top-[-80px] xl:-left-4 z-0 opacity-[25%]"
                    alt="Imagen de fondo"
                />
                <h2
                    class="z-10 text-3xl text-center lg:text-[44px] tracking-[0.12em] font-bold text-primary-default mb-4 font-sathu relative"
                >
                    HOLA, SOY LÍA
                </h2>
            </div>
            <p
                class="relative text-[16px] md:text-[22px] text-center text-primary-default leading-[1.25] font-textos mt-20 md:mt-24 w-full"
            >
                Vamos a compartir vinos buscando variedad
                de terruños, estilos de elaboración, cepas,
                añadas y mil temáticas más con un mismo hilo conductor:
            </p>
            <p
                class="relative text-[16px] md:text-[22px] text-center italic text-[#a98e6b] mb-4 leading-[1.25] font-textos mt-14"
            >
                Disfrutar de experiencias creativas y dinámicas usando todos los
                sentidos de una forma que nunca viviste
                y no te vas a poder olvidar.
            </p>
        </div>

        <!-- Imagen -->
        <div class="xl:w-1/2 xl:absolute xl:-right-0 xl:top-20 xl:h-[full] items-end justify-center xl:justify-end flex">
            <img
                src={profileImage.src}
                alt="Imagen de Lía"
                class=" shadow-lg w-[100%] object-cover xl:h-[auto]"
            />
        </div>
    </div>
</section>

