---
import "@vimeo/player";
---

<head>
    <!-- Agregar el script de la API de Vimeo -->
    <script src="https://player.vimeo.com/api/player.js"></script>
</head>

<section
    class="relative w-full h-[35vh] md:h-screen bg-cover bg-center overflow-hidden"
    style="background-image: url('/mesacopas-scaled.webp');"
>
    <!-- Fondo oscuro superpuesto -->
    <div
        id="overlay"
        class="absolute inset-0 bg-black bg-opacity-50 z-10 transition-opacity duration-500"
    ></div>

    <!-- Contenido centrado -->
    <div
        id="contentContainer"
        class="absolute inset-0 flex flex-col items-center justify-center z-20 text-center transition-opacity duration-300"
    >
        <button id="playButton" class="focus:outline-none">
            <img
                src="./play-button.png"
                class="h-20 mb-8 sm:h-28 md:h-32"
                alt="Play Button"
            />
        </button>
        <h2
            class="text-secondary-texto text-2xl sm:text-4xl md:text-6xl font-medium tracking-widest uppercase mb-6"
        >
            Viví nuestra experiencia
        </h2>
        <p class="text-[#E5E0DA] text-[18px] md:text-[28px] font-textos mb-6">
            Activando fuerte el <em>blup dup</em>
            <br />
            del corazón.
        </p>
    </div>

    <!-- Contenedor del iframe de Vimeo -->
    <div
        id="videoContainer"
        class="relative inset-0 w-full h-full opacity-0 pointer-events-none transition-opacity duration-500 z-20"
    >
        <iframe
            id="vimeoPlayer"
            src="https://player.vimeo.com/video/1042811489?h=bc35f9b77e&muted=0&autoplay=0&background=0&title=0&byline=0&portrait=0"
            class="absolute inset-0 w-full h-full"
            frameborder="0"
            allow="autoplay; fullscreen; picture-in-picture"
            allowfullscreen
        ></iframe>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const playButton = document.getElementById("playButton");
        const videoContainer = document.getElementById("videoContainer");
        const vimeoPlayer = document.getElementById("vimeoPlayer");
        const contentContainer = document.getElementById("contentContainer");
        const overlay = document.getElementById("overlay");

        // Inicializar el reproductor de Vimeo
        const player = new Vimeo.Player(vimeoPlayer);

        // Mostrar y reproducir el video al hacer clic en el botón Play
        playButton.addEventListener("click", () => {
            videoContainer.classList.remove("opacity-0", "pointer-events-none");
            videoContainer.classList.add("opacity-100", "pointer-events-auto");

            player.play();

            contentContainer.classList.add("opacity-0", "pointer-events-none");
            overlay.classList.add("opacity-0");
        });
    });
</script>
