---
import logo from "../assets/images/logolia.webp";
import background from "../assets/images/home.webp";
---

<div id="container" class="relative h-screen w-full">
	<img
		id="background"
		class="absolute w-full h-full object-cover"
		src={background.src}
		alt="Background Image"
		fetchpriority="high"
	/>
	<div class="absolute inset-0 bg-black bg-opacity-30 z-10"></div>
	<main class="relative z-20">
		<nav class="absolute top-0 left-0 w-full z-50">
			<div class="flex justify-center items-center p-4">
				<img 
					id="logo"
					alt="logo"
					src={logo.src} 
					fetchpriority="high"
					class="h-16 md:h-[83px] mt-6 md:mt-14"
				/>
			</div>
			<ul class="flex flex-wrap justify-center items-center gap-4 md:gap-8 p-4 text-white text-sm md:text-lg lg:text-[23px] tracking-[0.1em]">
				<li>
					<a href="#quiensoy" class="relative group">
						<span class="hover-text">QUIÉN SOY</span>
					</a>
				</li>
				<li>
					<a href="#quehago" class="relative group">
						<span class="hover-text">QUÉ HAGO</span>
					</a>
				</li>
				<li>
					<a href="#ciclos" class="relative group">
						<span class="hover-text">CICLOS</span>
					</a>
				</li>
				<li>
					<a href="#sensaciones" class="relative group">
						<span class="hover-text">SENSACIONES</span>
					</a>
				</li>
				<li>
					<a href="#contacto" class="relative group">
						<span class="hover-text">CONTACTO</span>
					</a>
				</li>
			</ul>
		</nav>
		<section
			id="hero"
			class="flex flex-col items-center justify-center h-full px-4 text-center"
		>
			<!-- <div class="text-center">
				<h1 class="text-3xl md:text-4xl lg:text-6xl font-bold text-white">
					Lía De Bárbara
				</h1>
				<p class="mt-4 text-base md:text-lg lg:text-xl text-white max-w-xl">
					Explora experiencias únicas de cata y gastronomía.
				</p>
			</div> -->
		</section>
	</main>
</div>

<style>
.group {
	position: relative;
	display: inline-block;
	padding: 0 8px;
	cursor: pointer;
}

.group .hover-text {
	position: relative;
	display: inline-block;
	color: white;
	transition: color 0.3s ease-in-out;
}

.group .hover-text::after {
	content: "";
	position: absolute;
	bottom: -2px;
	left: 0;
	height: 2px;
	width: 0;
	background: white;
	transition: width 0.3s ease-in-out;
}

.group:hover .hover-text::after {
	width: 100%;
}
</style>
