---
import '@fontsource/alegreya-sans-sc';
import '@fontsource/alegreya-sans';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/reina.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Lía de Bárbara | La Sommelier</title>
	</head>
	<body>
		<slot />
		<script src="/src/scripts/scroll.js"></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: "Alegreya Sans SC", sans-serif;
		scroll-behavior: smooth;
	}
	
	
</style>
